
a {
    color: $spanish-pink;
    font-family: $Roboto;
    font-size: $large;
    text-decoration: none;
    text-align: left;
    display: block;

    &:hover{
        color: $nickel;
        text-decoration: none;
    }

    &:focus{
        color: $light-gray;
    }
}